<footer class="site-footer h-card">
    <div class="container d-flex" style="display: flex; justify-content: center; flex-direction: column; vertical-align: middle;">
        <ul class="container text-center social-media-list" style="display: flex; justify-content: center; gap:2rem; vertical-align: middle;">
            <li>
                <a href="https://www.linkedin.com/in/kris-montgomery-35b79a25" class="fa fa-linkedin" target="_blank" style="font-size:36px; vertical-align: middle;">
                </a>
            </li>
            <li>
                <a href="https://github.com/krmontgomery" class="fa fa-github" target="_blank" style="font-size:36px; vertical-align: middle;">
                </a>
            </li> 
            <li>
                <a class="fa fa-instagram" href="https://www.instagram.com/kris_montgomery_/" target="_blank" style="font-size:33px; vertical-align: middle;">
                </a>
            </li>
        </ul>   
        <div class="footer-info">
            <p class="footer-p">
                Kris Montgomery | Husband, Developer, Hobbyist | &#169; 2025
            </p>
        </div>
    </div>
</footer>