<h1 class="projects-list-heading">Projects</h1>
<ul class="projects-list">
    {% for project in site.projects %} 
    <li class="projects-item">
        {% if project.image %}
            <img src="{{ project.image }}" alt="">
        {% endif %}
            
        <h1 id="projects-title">
            {{ project.title }}
        </h1>

        <p class="projects-meta-content"> {{ project.content }} </p>
        
        <div class="projects-tag-container">
            {% for tag in project.tags %}
                <p>#{{ tag }}</p>
            {% endfor %}
        </div>
        <div class="project-links">
            <a href="{{ project.github-url }}" id="project-githublink" class="fa fa-github" target="_blank"></a>
        </div>
    </li> 
    {% endfor %}
</ul>
