<h1 class="projects-list-heading">Projects</h1>
<ul class="projects-list">
    {% if site.projects > 0 %}
        {% for project in site.projects %}
        <li class="projects-item">
            <a class="projects-link" href="{{ project.url }}">
                {% assign img_tag = project.content | split: '<img' %}
                {% assign first_img = '<img class="projects-image"' | append: img_tag[1] | split: '>' | first | append: '>' %}
                {{ first_img }}
                
                <h1 id="projects-title">
                    {{ project.title }}
                </h1>

                <span class="projects-meta-date">{{ project.date | date: "%B %d, %Y" }}</span>
                <p class="projects-meta-content"> {{ project.content | strip_html | truncatewords: 10 }} </p>
            </a>
            <div class="projects-tag-container">
                {% for tag in project.tags %}
                    <p>#{{ tag }}</p>
                {% endfor %}
            </div>
        </li> 
        {% endfor %}
    {% else %}
        <h2>
            Site is in progress and this section is under construction. Come back later! 
        </h2>
    {% endif %}
</ul>
