<div class="who-container">
    <div class="who-name">
        <h1 style="font-size: 35px;font-weight: bold;">Hey, I'm Kris Montgomery</h1>
    </div>
    <div class="who-aboutme">
        <p>
            EDI Analyst and Developer looking onward for new oppurtunities. If Interested, feel free to reach out via <a href="https://www.linkedin.com/in/kris-montgomery-35b79a25" style="font-weight: bold;">LinkedIn</a>. 
        </p>
    </div>
    <div class="who-downloadresume">
        <a href="{{ '/assets/files/Kris Montgomery Resume - Web.pdf' | relative_url }}" download>
            Download My Resume
        </a>
    </div>
</div>