---
layout: default
---
<article id="project">
    <div class="container">

        <div class="row">

            <!-- Project Content Column -->
            <div class="col-lg-8">

                <!-- Project -->
                <div class="project-meta-data">
                    <!-- Title -->
                    <h1 class="project-title">{{ page.title }}</h1>
                    <div class="project-author-div">
                        <!-- Author -->
                        <p style="color: #828282;">by</p><p class="project-author">{{ page.author}}</p>
                    </div>
                    <div class="project-date-div">
                        <p style="color: #828282;">Posted on </p>
                        <p class="project-date">{{ page.date | date: "%B %d, %Y"}}</p>
                    </div>
                </div>
                
                <!-- Preview Image -->
                {% if page.image %}
                <div class="project-image-div">
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="{{ page.imageinfo }}">
                </div>
                {% endif %}
                


                <!-- Project Content -->
                {% if page.lead %}
                <p class="lead">{{ page.lead }}</p>
                {% endif %}
                
                {{ page.content }}

                <!-- Project Tags -->
                {% if page.tags %}
                <p class="tag-title">TAGS</p>
                <div class="project-tag-container">
                    {% for tag in page.tags%}
                    <p>{{ tag }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <hr style="width: 100%;">
                
                <div class="bottom">
                    {% if page.previous %} 
                    <div class="previous-link" style="float: left;">
                        <h3>Previous</h3>
                        <a rel="prev" style="text-align: left;" href="{{ page.previous.url }}">
                            <p>
                                {{ page.previous.title}} - {{ page.previous.description | truncatewords: 4}}
                            </p>
                        </a>
                    </div>
                    {% endif %}
                    
                    {% if page.next %} 
                    <div class="next-link justify-content-end text-right" style="float: right;">
                        <h3>Next</h3>
                        <a rel="next" href="{{ page.next.url }}">
                            {{ page.next.title}} - {{ page.next.description | truncatewords: 4}}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>
<hr style="width: 100%;">
<div class="back-to-projects">
    <a href="/projects/">&#8629; Back to Projects</a>
</div>